body {
	font-family: 'Lato', sans-serif;
	padding: 0px;
	margin:  0px;
	color:  rgb(50,50,50);
	overflow-x: hidden;
}

#capacityarea {
	position:  absolute;
	top: 250px;
	width:  750px;
	height:  200px;
	overflow:  hidden;
	left:  250px;
}

#buttons {
	position:  absolute;
	bottom:  0px;
		width:  100%;
	padding: 10px;
	border-top: 1px dotted grey;
	font-size: 14px;
	height: 15px;
	
}

.snap {
	-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}

#status {
	
	position: absolute; 
	top: 50px;
	right: 00px;
	width: 120px;

	text-align: right;
	padding: 10px;
}

.capTab {
	color: rgb(150,150,150);
	padding: 0px;
}

.capTab td {
	padding: 3px;
}

#staging {
	position:  absolute;
	top:  50px;
	left:  0px;
}

.inout {
	display:  none;
	position:  absolute;
	top:  100px;
	left:  100px;
	right:  100px;
	bottom:  100px;
	border: 5px solid Rgba(255,0,0,0.2);
	background-color: rgba(255,255,255,1);
	padding:  50px;
	text-align:  center;	
}

.inouttext {
		width:  100%;
		height:  80%;
		border:  1px dotted rgb(200,200,200);
		background-color: white;
}

.inoutdiagbutton{
	margin:  20px;
	display: block;
	cursor: pointer;
}

#out {

}

#in {

}

.buttonbardelete {
	background-color: rgba(255,0,0,0.2);
	height: 200px;
}


.button {
	color:  rgb(200,50,50);
	cursor:  pointer;
	margin-left:  10px;
	
}

#capacitylegend {
	font-size: 20px;
	width:  100%;
	display:  block;
	color:  rgb(50,50,50);
	height: 37px;
	padding-top: 13px;
	text-align: center;
	background-color: rgb(200,200,200);
	-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}

#formen {
	background-color: rgb(200,200,200);
	padding: 10px 0px 0px 0px;
	display:  block;
	height:  39px;
	position:  absolute;
	top:  0px;
	left:  0px;
	width:  100%;
	border-bottom:  1px solid gray;
}

#innerform {
	padding: 5px 0px 0px 15px;
}

.capacity{
	width:  100%;
	height: 49px;
	border-bottom: 1px dotted gray;
	background-color: rgba(230,230,230,1);
	position: relative;
}

.item {
	border: none;
	padding: 10px;
	opacity: 0.75;
	background-color: rgb(200,200,200);
	border-left: 5px solid black;
	font-weight: 700;
	color: #000000;
	height: 30px;
	width: 475px;
	-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
float: left;
}

.color_0 {
	background-color: rgba(206,77,69,0.9)
}

.color_1 {
	background-color: rgba(10,123,131,0.9)
}

.color_2 {
	background-color: rgba(42,168,118,0.9)
}

.color_3 {
	background-color: rgba(255,210,101,0.9)
}

.color_4 {
	background-color: rgba(241,156,101,0.9)
}

